{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?v=0.8" />
    <title>{% block title %}Flag quiz{% endblock %}</title>
</head>

<body>
	<div class="navbar">
		<a href={% url 'quiz:index' %}>Flag quiz</a>
		{% if user.is_authenticated %}
			<span class="navnote">Logged in as {{ user.username }}</span>
			<a href="{% url 'logout' %}">logout</a>
		{% else %}
			<span class="navnote">Not logged in</span>
			<a href="{% url 'login' %}">login</a>
		{% endif %}
	</div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
