body {
	padding-bottom: 20%;
	background-color: #dedede;
}

.navbar
{
	background-color: black;
	padding: 0px 5px;
	text-align: left;
	margin-bottom: 40px;
}

.navtitle
{
    background-color: gray;
    color: black;
    padding: 14px 25px;
    text-align: left; 
    text-decoration: none;
	font-size: 20px;
	font-weight: bold;
    display: inline-block;
}

.navbar a:link, a:visited
{
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover, a:active
{
	background-color: grey;
}

.navnote:
{
	font-size: small;
	color: white;
}

.flag_img {
	height: 100px;
	max-width: 192px;
}

.quiz_answer {
	display: inline-block;
	width: 200px;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #cccccc;
	border: 1px solid black;
	font-size: large;
	text-decoration: none;
	color: black;
	text-align: center;
}

.quiz_answer:hover {
	background-color: #aaaaaa;
	font-size: large;
	text-decoration: none;
	color: black;
}

.quiz_answer:active {
	transform: scale(0.9);
	font-size: large;
	text-decoration: none;
	color: black;
}

.quiz_answer:link, .quiz_answer:visited {
	font-size: large;
	text-decoration: none;
	color: black;
}

.country_flag_box {
	display: inline-block;
	width: 200px;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #cccccc;
	border: 1px solid black;
	font-size: large;
	text-decoration: none;
	color: black;
	text-align: center;
}
